<form action="/add" method="POST">
    <p>Titulo</p>
    <input type="text" name="titulo" id="">
    <p>Conteudo</p>

    <textarea name="counteudo" id=""> </textarea>
    <button type="submit"> Cadastrar postagem</button>
</form>