<form action="/somar" method="post">
    digite primeiro valor
    <input type="number" name="v1" id="">
    digite segundo valor
    <input type="number" name="v2" id="">
    <button type="submit">Somar</button>
</form>